<footer class="bg-gray-100">
  <div class="max-w-screen-xl p-4 py-6 mx-auto lg:py-16 md:p-8 lg:p-10">
    <div class="md:flex md:justify-between">
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Resources</h2>
          <ul class="text-gray-600">
            <li class="mb-4">
              <a href="https://flowbite.com" class="hover:underline">Flowbite</a>
            </li>
            <li>
              <a href="https://tailwindcss.com/" class="hover:underline">Tailwind CSS</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Follow us</h2>
          <ul class="text-gray-600 ">
            <li class="mb-4">
              <a href="https://github.com/GeorgePires/NobBank" class="hover:underline ">Github</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Legal</h2>
          <ul class="text-gray-600 ">
            <li class="mb-4">
              <%= link_to("Contact", about_path, class:"hover:underline") %>
            </li>
            <li>
              <a href="#" class="hover:underline">Terms &amp; Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <div class="text-center">
      <a
        href="#"
        class="flex items-center justify-center mb-5 text-2xl font-semibold text-gray-900">
        <%= image_tag('logo.svg', class: 'h-6 mr-3 sm:h-9') %>
        NobBank
      </a>
      <span class="block text-sm text-center text-gray-500"
        >© 2023-2023 NobBank™. All Rights Reserved. Built by
        <%= link_to("George Pires", 'https://github.com/GeorgePires', class: 'text-purple-600 hover:underline', target: "_blank") %>
      </span>
    </div>
  </div>
</footer>
