<h2 class="my-6 text-2xl font-semibold text-gray-700">
  Dashboard
</h2>

<%# Dashboard/nav %>
<%= render 'shared/dashboard_nav', total_accounts_balance: @total_accounts_balance %>

<%# Dashboard/Table %>
<%= render  "shared/dashboard_table" %>